<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ExamSecurity - Video</title>
  <link rel="icon" href="../static/img/logos/fondo.png" type="image/png">
  <link rel="stylesheet" href="../static/css/video.css">
</head>
<body>

  <main class="content">
    <section class="main-box">
      <h2>Empezar grabación</h2>

      <div class="info-box">
        <p>Curso: XXXXXXXXXXXXX</p>
        <p>Profesor: XXXXXXXXXXXX</p>
        <p>Estudiante: XXXXXXXXXXX</p>
      </div>

      <button class="button">Empezar</button>
    </section>
  </main>

</body>
</html>
